@model List<MilkyProject.WebUI.Dtos.AdressDto.ResultAdressDto>
@{
    ViewData["Title"] = "AdminAdressList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h3 style="color :limegreen">Adress List</h3>

<table class="table table-head-bg-success">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Adress Mail</th>
            <th scope="col">Adress Phone</th>
            <th scope="col">Business Hours Week</th>
            <th scope="col">Business Hours Weekend</th>
            <th scope="col">Adress Street</th>
            <th scope="col">Edit Adress</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AdressId</td>
                <td>@item.Mail</td>
                <td>@item.Phone</td>
                <td>@item.BusinessHoursWeek</td>
                <td>@item.BusinessHoursWeekend</td>
                <td>@item.Street.Substring(0,40)</td>
                <td> <a href="/Admin/AdminAdress/UpdateAdressList/@item.AdressId" class="btn btn-secondary btn-border btn-round"> Edit </a></td>
            </tr>
        }


    </tbody>
</table>

